  studio:
    image: airlance/vite-react-vue:24-alpine
    container_name: studio
    volumes:
      - ./projects/studio:/app
    restart: {{ services_restart_policy }}
    environment:
      DOMAINS: dashboard.studio.localhost
      PORT: 3222
    networks:
      - studio
    ports:
      - 3222:3222
    depends_on:
      - api
